body{
    margin : 0px;
    padding: 10px; 
    background: url(login2.jpg) no-repeat;
    background-size: cover ;
    font-family: sans-serif;
}

.register h1{
    position: relative;
    left: -7px;
    float: left;
    font-size: 40px;
    border-bottom: 5px solid darkgoldenrod;
    margin-bottom: 50px;
    padding: 10px 0;
    left: 50px;
    
}

.main{
    background-color: rgb(0,0,0,0.5);
    width: 800px;
    margin: auto;
}
form{
    padding: 10px;
}

#name{
    height: 100px;
    width: 100%;
}

.fname{
    position: relative;
    left: -125px;
    top: 100px;
    line-height: 30px;
    padding: 0 22px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid maroon;

}

.lname{
    position: relative;
    left: 40px;
    top: 68px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid maroon;

}

.number{
    position: relative;
    font-size: 15px;
    left: -125px;
    top: 45px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid maroon;
}

.email{
    position: relative;
    font-size: 15px;
    left: -303px;
    top: 75px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid maroon;
}

.username{
    position: relative;
    font-size: 15px;

    left: -480px;
    top: 105px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid maroon
}

.password1{
    position: relative;
    font-size: 15px;

    left: -658px;
    top: 135px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid maroon
}

.password2{
    
        position: relative;
        font-size: 15px;
    
        left: -830px;
        top: 165px;
        border: none;
        background: none;
        outline: none;
        border-bottom: 2px solid maroon
    
}
.button{
    position: relative;
    left: -970px;
    top: 220px;
    background: none;
    border: 3px solid black;
    color: black;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin: 12px 0;
}

::placeholder{
    color:black;

}

